/* If you want you can use font-face */
@font-face {
    font-family: 'Segoe Ui Light';
    src: url('segoeuil.eot');
    src: url('segoeuil-webfont.eot?#iefix') format('embedded-opentype'),
         url('segoeuil-webfont.woff') format('woff'),
         url('segoeuil-webfont.ttf') format('truetype'),
         url('segoeuil-webfont.svg#segoeuil') format('svg');
    font-weight: normal;
    font-style: normal;
}

.clock {
    width: 300px;
    margin: 0px 0px;
    padding: 5px 5px 5px 5px;
    border: 0px solid #333;
    color: #000 !important;
}

#Date {
    font-family: 'Segoe Ui', sans-serif;
    font-size: 16px;
    text-align: center;
    color:#000 !important;
}

ul.jamm {
    margin: 0px 0px;
    padding: 0px 0px;
    list-style: none;
    text-align: center;
}

ul li.jam {
    display: inline;
    font-size: 42px;
    text-align: center;
    font-family: 'Segoe Ui', sans-serif;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    color:#000 !important;
}

#point {
    position: relative;
    -moz-animation: mymove 1s ease infinite;
    -webkit-animation: mymove 1s ease infinite;
    padding-left: 5px;
    padding-right: 5px;
}

/* Simple Animation */
@-webkit-keyframes mymove {
    0% {opacity: 1.0;

}

50% {
    opacity: 0;
    text-shadow: none;
}

100% {
    opacity: 1.0;

}	
}

@-moz-keyframes mymove {
    0% {
        opacity: 1.0;
    }

    50% {
        opacity: 0;
        text-shadow: none;
    }

    100% {
        opacity: 1.0;
    };
}
